{% extends "base.html" %} {% block content %}
<div class="container mt-4">
  <div class="p-4 m-4">
    <div class="col-lg-5 rounded mx-auto border pt-4">
      <div class="text-center col">
        <img
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAkoAAABWCAMAAAAHdkliAAAAhFBMVEX///8AAACvr6+dnZ2KiopxcXHw8PAlJSWnp6f39/fn5+f6+voiIiI3NzegoKBLS0tkZGTa2tqSkpK6urqBgYFYWFgdHR1MTEzX19fKysoSEhJ3d3esrKzq6urg4OAZGRlBQUHMzMzBwcENDQ0wMDBra2s7OztUVFR9fX2Ojo5gYGAyMjJqgC0rAAAL5E
                ="
          alt=""
          class=""
          style="height: 50px"
        />
        <style type="text/css">
          .row > div > select {
            width: 100%;
          }
          .row > div > input {
            width: 100%;
          }
          .row > div > a {
            width: 100%;
          }
        </style>
        <h3>Create una cuenta ahora</h3>

        <form method="post">
          {% csrf_token %}{% for field in form %}
          <div class="row" style="margin: 4px 0 4px 0">
            <div class="col-5" style="margin: 4px 0">{{ field.label }}</div>
            <div class="col-6" style="margin: 4px 0">{{ field }}</div>
            <div style="color: red; font-size: 0.5vw">
              {{ field.error_messages }}
            </div>
            <div style="color: #2874a6; font-size: 0.75vw">
              {{ field.help_text }}
            </div>
          </div>
          {% endfor %}
          <div class="row" style="margin: 8px 0">
            <div class="col-6">
              <input
                type="submit"
                id="btnregister"
                class="btn btn-primary"
                value="Registrate"
              />
            </div>
            <div class="col-6">
              <a class="btn btn-primary" href="{% url 'home' %}"
                >Volver al inicio</a
              >
            </div>
          </div>
        </form>
        <!--div class="row"><a href="{% url 'home' %}">Volver al inicio</a></div-->
        {% endblock %}
      </div>
    </div>
  </div>
</div>
